<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de la Clase</title>
</head>
<body>
    <h1>Información de la Clase</h1>
    <ul>
        <li><strong>Curso:</strong> {{curso}}</li>
        <li><strong>Profesor:</strong> {{profesor}}</li>
        <li><strong>Fecha:</strong> {{fecha}}</li>
    </ul>
    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>
